<head>
<link rel="stylesheet" type="text/css" href="http://localhost:8888/main.css">
</head>
<h1 align="center"> MY TWITTER</h1>
<hr>
<div align=center>
	<button><a href=http://localhost:8888/login style="text-decoration:none;">Login</a></button>
	<button><a href=http://localhost:8888/signup style="text-decoration:none">Sign Up</a></button>
	</div>
<style>
a:visited{
	color:black;
}
</style>