<body>
<form action="/session_new" method="post">
Name     <input type="text" name="name" style="margin-left: 34px;"><br><br>
Email    <input type="text" name="email" style=" margin-left: 34px;"><br><br>
Username <input type="text" name="username" style=" margin-left: 7px;"><br><br>
Password <input type="password" name="password" style=" margin-left: 11px;"><br><br>
Confirm Password <input type="password" name="cpassword" style=" margin-left: 0"><br><br>
<input type="submit" name="submit">
</form>
</body>